:root {
    --dark-purple: rgba(92, 9, 170, 0.459);
    --light-purple: rgba(148, 43, 180, 0.459);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}

header {
    display: flex;
    justify-content: space-between;
}
.scores a {
    text-decoration: none;
    color: var(--dark-purple);
}

main {
    margin: 40px;
    text-align: center;
}

.choice {
    display: block;
}

button {
    display: inline-block;
    margin: 10px;
    font-size: 100%;
    color: white;
    background-color: var(--dark-purple);
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: var(--light-purple);
}

#response {
    font-style: italic;
    color: grey;
}
/*specific styling for highscores.html*/

li {
    margin-top: 10px;
    text-align: left;
}

li:nth-child(odd) {
    background-color: var(--light-purple);
}